@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* this for logo deben*/
.containerOverFlue{
    height: 100vh !important;
    overflow: hidden;
}
.loginDesign{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-77.3%, rgba(255, 255, 255, 0.2)), color-stop(40.98%, rgba(233, 232, 232, 0.124555)), color-stop(59.26%, rgba(225, 224, 224, 0.0987332)), to(rgba(197, 194, 194, 0))), #1E6EF5;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) -77.3%, rgba(233, 232, 232, 0.124555) 40.98%, rgba(225, 224, 224, 0.0987332) 59.26%, rgba(197, 194, 194, 0) 100%), #1E6EF5;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -77.3%, rgba(233, 232, 232, 0.124555) 40.98%, rgba(225, 224, 224, 0.0987332) 59.26%, rgba(197, 194, 194, 0) 100%), #1E6EF5;    width: 100%;
    width: 376px !important;
    height: 100vh !important;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media screen and (max-width: 1400px){
.loginDesign{
    width: 25% !important;
    }
}
.imgContainer{
    margin: auto;
    position: absolute;
    top: 7.5rem;
    text-align: center;
    color: #E2E2E2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.imgContainer p{
    margin-top: 0.625rem;
}
@media screen and (max-width: 768px) {
    .imgContainer {
        position: absolute;
        top: 1.875rem;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 6.25rem;
    }
  }
  @media screen and (max-width: 576px) {
    .imgContainer {
        position: absolute;
        top: 3.75rem;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 5.625rem;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
  }

.loginDesign img{
    width: 68%;
    height: 4rem;
}
.containerUser{
    position: absolute;
    top: 15.625rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 0.625rem;
    width: 20.625rem;
    height: 3.25rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.containerUser .icon-user-o{
    position: absolute;
    left: 1.125rem;
    top: 0.9375rem;
    color: #FFF;
    font-size: 1.25rem;
    width: 23.5rem;
}
.containerUser .loginParagraphe{
    position: absolute;
    left: 3.125rem ;
    top: 0.625rem;
    width: 3.5rem !important;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height */

    letter-spacing: -0.02em;

    /* white */
    color: #FFFFFF;
}
.icon-eye-slash,
.icon-eye{
    position:absolute;
    right: 1.5625rem;
    top: 0.625rem;
    font-size: 1.0625rem;
    cursor: pointer;
    padding: 0.3125rem;
}
.containerUser .icon-circle{
    position: absolute;
    right: 0.625rem;
    top: 0.3125rem;
    color: aliceblue;
}
/*  the end here about logoDeben CSS */
/* the form CSS */
.containerWelcome{
    width: 73.5% !important;
    margin: auto;
}
.messageGoodMoring{
    width: 9.375rem;
    height: 1.5625rem;
    margin: 1.25rem;
}

.messageGoodMoring h5{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;

    /* dark blue */

    color: #3A4956;
}
.contaienrForm{
    overflow: auto;
    margin: auto;
    width: 13.75rem;
    height: 75vh !important;
    background: #fff;
    /* card shadow */
    -webkit-box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
            box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    margin: auto;
    position: relative;
    top: 1.875rem;
}
.getGelpDiv{
    width: 6.25rem;
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
}
.getGelpDiv a{
    width: 7.7rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    position: absolute;
    right:0.9375rem ;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* highlighted blue */

    color: #58BEF3;
}
.getGelpDiv span{    
    color: #58BEF3;
    position: absolute;
    right:1px;
    font-size:1.375rem;
    /* transition: all 0.3s; */
}
.messageForget{
    position: absolute;
    top: 5.625rem;
    left: 3.9375rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.messageForget h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.1em;
    text-transform: capitalize;

    color: #208AE7;
}
.messageForget .pargraghpe{
    position: absolute;
    top: 4.375rem;
    width: 55vw;
    z-index: 1;
}
@media screen and (max-width: 576px) {
    .messageForget{
        position: absolute;
        left: 6%;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
} 

@media only screen and (max-width: 768px) {
    .messageForget{
        position: absolute;
        top: 3.125rem;
    }
    .messageForget .pargraghpe {
        position: absolute;
        top: 5.9375rem;
    }
}
  
.messageForget .pargraghpe p {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #979797;
    font-family: 'Nunito', sans-serif;
}

.containerForm{
    width: 94% !important;
    height: 3rem;
    position: absolute;
    top: 7.2rem;
    left: 2.3rem;
    -webkit-transition: all 1.4;
    -o-transition: all 1.4;
    transition: all 1.4;
}
@media screen and (max-width: 576px) {
    .containerForm{
        width: 94%!important;
        position: absolute;
        left: 3%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
} 

.form-group{
    margin-top: 1.7rem !important;

}

/* input name & input Password */
.form-group .inputEmail:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-shadow: -0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
            box-shadow: -0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;

}
/* input inputEmail */
.labelEmail{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
}
.form-group .inputEmail{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #FFFFFF;
    height: 3rem !important;
    /* card shadow */
    -webkit-box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
            box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    padding: 0.5rem;
}

.btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:absolute;
    top: 18rem;
    right: -0.625rem;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
@media screen and (max-width: 1200px) {
    .btns{
        position:absolute;
        top: 15rem;
        -webkit-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s;
    }
} 
.btns .btn:focus{
    box-shadow:none ;
}
.btns .btn{
    margin: 0px 4px;
}
.contianerNext{
    position: relative;
}
.btns .cancel{
    padding: 0.5rem 1.875rem;

    background: #FFFFFF;
    -webkit-box-shadow: -0.44px 0.44px 3.75px rgba(0, 0, 0, 0.25);
            box-shadow: -0.44px 0.44px 3.75px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: 'Nunito', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;    
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;
    /* dark blue */

    color: #3A4956;
}
.btns .next{
    padding: 0.5rem 1.875rem;
    -webkit-box-shadow: -0.44px 0.44px 7.75px rgba(0, 0, 0, 0.25);
            box-shadow: -0.44px 0.44px 7.75px rgba(0, 0, 0, 0.25);
    border-radius: 0.4375rem;
    font-family: 'Nunito', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;
    background: #58BEF3;
}
.btns .next .icon-chevron-right{
    position:absolute;
    right: 1rem;
    top: 0.78rem;
}